.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5rem solid;
  border-style: double;
  width: 500px;
  margin: auto;
}


.pictures {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-gap: 30px;
  height: auto;
}

img {
  width: 130px;
}

details {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.links {
  display: flex;
  margin-top: 30px;
}
a {
  text-decoration: none;
  margin: auto;
}